@charset "UTF-8";
/* layout general
 -----------------------------------------------------*/
/* general setting
 -----------------------------------------------------*/
* {
  outline: transparent;
}

@font-face {
    font-family: "Oxanium-Bold";
    src: url(../fonts/Oxanium-Bold/Oxanium-Bold.woff2) format("woff2"),
    url(../fonts/Oxanium-Bold/Oxanium-Bold.eot) format("eot"),
    url(../fonts/Oxanium-Bold/Oxanium-Bold.ttf) format("ttf"),
    url(../fonts/Oxanium-Bold/Oxanium-Bold.woff) format("woff");
}
@font-face {
    font-family: "Oxanium-ExtraBold";
    src: url(../fonts/Oxanium-ExtraBold/Oxanium-ExtraBold.woff2) format("woff2"),
    url(../fonts/Oxanium-ExtraBold/Oxanium-ExtraBold.eot) format("eot"),
    url(../fonts/Oxanium-ExtraBold/Oxanium-ExtraBold.ttf) format("ttf"),
    url(../fonts/Oxanium-ExtraBold/Oxanium-ExtraBold.woff) format("woff");
}
@font-face {
    font-family: "Oxanium-Medium";
    src: url(../fonts/Oxanium-Medium/Oxanium-Medium.woff2) format("woff2"),
    url(../fonts/Oxanium-Medium/Oxanium-Medium.eot) format("eot"),
    url(../fonts/Oxanium-Medium/Oxanium-Medium.ttf) format("ttf"),
    url(../fonts/Oxanium-Medium/Oxanium-Medium.woff) format("woff");
}
@font-face {
    font-family: "Oxanium-Regular";
    src: url(../fonts/Oxanium-Regular/Oxanium-Regular.woff2) format("woff2"),
    url(../fonts/Oxanium-Regular/Oxanium-Regular.eot) format("eot"),
    url(../fonts/Oxanium-Regular/Oxanium-Regular.ttf) format("ttf"),
    url(../fonts/Oxanium-Regular/Oxanium-Regular.woff) format("woff");
}


body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Oxanium-ExtraBold";
  color: #0C3D37;
  line-height: 1.5;
  background: #FFF;
  margin: 0px;
}

a {
  color: #0bb4b7;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
a:hover {
  text-decoration: none;
  color: #0bb4b7;
}
a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-family: 'Nunito Sans', sans-serif;
}

p {
  margin: 0px;
  color: #FFF;
}
p:last-child {
  margin-bottom: 0px;
}
.c-blue{
    color: #3cd0d8;
}

input[type=submit] {
  border: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.main-page{
    background: #27165a;
    color: #FFF;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.bg{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    animation: backInUp 1s;
}
.bg img{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.md-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: calc(12px + 5vw);
    width: 100%;    
    text-align: center;
    opacity: 0;
    font-weight: 800;
}

.text-1{
    animation: text-1 2s;
    animation-delay: 1s;
    width: 30%;
}
.text-1 img{
    width: 100%;
}

.text-2{
    animation: text-2 2s;
    animation-delay: 2.5s;
    display: table-cell;
}
.text-2 img{
    width: 100%;
    vertical-align: middle;
}
.text-3{
    animation: text-3 2s;
    animation-delay: 4s;
    height: auto;
}
.text-4 img{
    width: 100%;

}
.text-4{
    animation: text-4 6s;
    animation-delay: 5.5s;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.text-5{
    animation: text-5 6s;
    animation-delay: 5.5s;
    top: 50%;
    width: 15%;
    margin-top: 9.5%;
    height: auto;
    min-width: 150px;
    left: 45%;
}
.text-5 span{
    color: #53e5ff;
}
.text-6{
    animation: text-6 6s;
    animation-delay: 7.5s;
    top: -50%;
    width: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-6 .img-text-6{
    width: 100%;
}

.md-text-6{
    animation: text-6-6 6s;
    animation-delay: 7.5s;
    width: 33%;
    opacity: 1;
    left: 20%;
    top: 50%;
    transform: translate(0,0);
}
.md-text-6 img{
    width: 100%;
}
.text-6 p{
    position: absolute;
    left: 21%;
    bottom: 0%;
    line-height: 0.9;
    font-size: 5vw;
}
.text-7{
    animation: text-7 3s;
    animation-delay: 12.2s;
    top: 100%;
    left: 100%;
    display: table-cell;
}
.text-7 img{
    width: 100%;
    vertical-align: middle;
}
.text-7 p{
    position: absolute;
    left: 45%;
    top: 63.5%;
    line-height: 0.9;
    font-size: 8vw;
}
.text-8{
    animation: text-6-7 3s;
     animation-delay: 14.5s;
     transform: translate(-50%,-50%);
     display: table-cell;
}
.text-8 img{
    width: 100%;
    vertical-align: middle;
}
.text-8 p{
    position: absolute;
    right: 21%;
    top: 42.5%;
    line-height: 0.9;
    font-size: 13vw;
}
.text-9{
    animation: text-6-8 3s;
     animation-delay: 16.7s;
      position: absolute;
     transform: translate(-50%,-50%);
     display: table-cell;
}
.text-9 img{
    width: 100%;
   vertical-align: middle;
}
.text-9 p{
    position: absolute;
    right: 21%;
    top: 42.5%;
    line-height: 0.9;
    font-size: 14vw;
}
.text-10{
    animation: text-10 6s;
    animation-delay: 19s;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.text-10 .img-s7-1{
    
    width: 100%;
    vertical-align: middle;  
}
.text-10 .img-s7-2{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: text-10-2 6s;
    animation-delay: 19s;
}
.text-10 .img-s7-3{
    width: 22%;
    position: absolute;
    left: 50%;
    top: 67%;
    transform: translateX(-50%);
    animation: text-10-3 6s;
    animation-delay: 19s;
}
@keyframes backInUp{
    0%{opacity:.7;-webkit-transform:translateY(1200px) scale(.8);transform:translateY(1200px) scale(.8)}
    50%{opacity:.7;-webkit-transform:translateY(0) scale(.8);transform:translateY(0) scale(.8)}
    to{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}
@keyframes text-1{
    0%{
        opacity: 0;
        width: 200%;
    }
    50%{
        opacity: 1;
        width: 30%;
    }
    60%{
        opacity: 1;
        width: 30%
    }
    100%{
        opacity: 0;
        width: 0%;
    }
}

@keyframes text-2{
    0%{
        opacity: 0;
        
    }
    50%{
        opacity: 1;
        
    }
    60%{
        opacity: 1;
        left: 50%;
    }
    100%{
        opacity: 0;
        left: 0%;
    }
}

@keyframes text-3{
    0%{
        opacity: 0;
        left: 100%;
    }
    50%{
        opacity: 1;
        left: 50%;
    }
    60%{
        opacity: 1;
        left: 50%;
    }
    100%{
        opacity: 0;
        left: 0%;
    }
}

@keyframes text-4{
    0%{
        opacity: 0;
        left: 100%;
    }
    20%{
        opacity: 1;
        left: 50%;
    }
    40%{
        opacity: 1;
        left: 50%;
        top: 50%;
    }
    60%{
        opacity: 0;
        top: 100%;
        left: 0%;
    }
}

@keyframes text-5{
    10%{
        opacity: 0;
        top: 100%;
    }
    30%{
        opacity: 1;
        top: 50%;
    }
    35%{
        opacity: 1;
        top: 50%;
    }
    40%{
        opacity: 1;
        top: 50%;
        left: 45%;
    }
    60%{
        opacity: 0;
        top: 100%;
        left: 0%;
    }
}

@keyframes text-6{
    0%{
        opacity: 0;
        top: -100%;
    }
    10%{
        opacity: 1;
        top: -100%;
    }
    30%{
        opacity: 1;
        top: 50%;
    }
    80%{
        opacity: 1;
        top: 50%;
        left: 50%;
    }
    100%{
        opacity: 0;
        top: 0%;
        left: 0%;
    }
}

@keyframes text-6-6{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
        transform: rotate(0deg);
        top: -50%;
    }
    50%{
        opacity: 1;
        top: 50%;
        transform: rotate(0deg);
    }
    60%{
        opacity: 1;
        top: 50%;
        transform: rotateY(180deg);
    }
    80%{
        opacity: 1;
        top: 50%;
    }
    100%{
        opacity: 0;
        top: 0%;
        transform: rotateY(180deg);
    }
}


@keyframes text-7{
    0%{
        opacity: 0;
        top: 100%;
        left: 100%;

    }
    30%{
        opacity: 1;
        top: 50%;
        left: 50%;
    }
    60%{
        opacity: 1;
        top: 50%;
        left: 50%;
    }
    100%{
        opacity: 0;
        top: 0%;
        left: 0%;
    }
}

@keyframes text-6-7{
    0%{
        opacity: 0;
        top: 100%;
        left: 100%;

    }
    30%{
        opacity: 1;
        left: 50%;
        top: 50%;
    }
    60%{
        opacity: 1;
        left: 50%;
        top: 50%;
    }
    100%{
        opacity: 0;
        left: 0%;
        top: 0%;
    }
    
}

@keyframes text-6-8{
    0%{
        opacity: 0;
        top: 100%;
        left: 100%;

    }
    30%{
        opacity: 1;
        top: 50%;
        left: 50%;
    }
    60%{
        opacity: 1;
        top: 50%;
        left: 50%;
    }
    100%{
        opacity: 0;
        top: 0%;
        left: 0%;
    }
    
}

@keyframes text-10{
    0%{
        opacity: 0;
        width: 0%
    }
    15%{
        opacity: 1;
        width: 100%;
    }
    100%{
        opacity: 1;
    }
}
@keyframes text-10-2{
    0%{
        opacity: 0;
        width: 200%;
    }
    15%{
        opacity: 0;
        width: 200%;
    }
    30%{
        opacity: 1;
        width: 100%;
    }
    100%{
        opacity: 1;
    }
}
@keyframes text-10-3{
    0%{
        opacity: 0;
        width: 100%;
    }
    30%{
        opacity: 0;
        width: 100%;
    }
    45%{
        opacity: 1;
        width: 22%;
    }
    47%{
        opacity: 1;
    }
    49%{
        opacity: 0;
    }
    51%{
        opacity: 1;
    }
    53%{
        opacity: 0;
    }
    55%{
        opacity: 1;
    }
    57%{
        opacity: 0;
    }
    59%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.md-desktop{
    display: block;
}
.md-mobile{
    display: none;
}

@media screen and (max-width: 767px){
    .md-desktop{
        display: none;
    }
    .md-mobile{
        display: block;
    }

    .main-page{
        background: #27165a;
    }
    .bg img{
        width: auto;
        height: 100%;
    }
    .md-text{
        display: table-cell;
        height: 100%;
        font-size: 8vw;
    }
    .md-text img{
        height: 100%;
        margin: 0 auto;
        width: auto !important;
    }
    .text-1{
        display: block;
        height: auto;
    }
    .text-1 img{
        height: auto;
        width: 100% !important;
    }
    .text-3{
        height: auto;
        width: 100% !important;
    }
    .text-5{
        font-size: 35px;
        left: 47%;
        height: auto;
        top: 61%;
        margin-top: 0%;
    }
    .md-text-6{
        height: auto;
        width: 190px !important;
        left: calc(50% - 95px);
        top: 54%;
    }
    .md-text-6 img{
        width: 100% !important;
        height: auto;
    }
    .text-6 p{
        left: 50%;
        bottom: 18%;
        transform: translateX(-50%);
        font-size: 35px;
    }
    .text-7 p{
        left: 50%;
        top: 64%;
        font-size: 70px;
        transform: translateX(-50%);
    }
    .text-8 p{
        left: 50%;
        top: 57%;
        font-size: 90px;
        transform: translateX(-50%);
        right: auto;
    }
    .text-9 p{
        left: 50%;
        top: 54.5%;
        line-height: 0.9;
        font-size: 90px;
        transform: translateX(-50%);
        right: auto;
    }
    .text-10 .img-s7-1{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .text-10 .img-s7-3{
        width: 24% !important;
        left: 50%;
        top: 59%;
        transform: translateX(-50%);
        height: auto;
    }
    @keyframes text-1{
        0%{
            opacity: 0;
            width: 200%;
        }
        50%{
            opacity: 1;
            width: 40%;
        }
        60%{
            opacity: 1;
            width: 40%;
        }
        100%{
            opacity: 0;
            width: 0%;
        }
    }
    @keyframes text-5{
        10%{
            opacity: 0;
            top: 100%;
        }
        30%{
            opacity: 1;
            top: 61%;
        }
        35%{
            opacity: 1;
            top: 61%;
        }
        40%{
            opacity: 1;
            top: 61%;
            left: 47%;
        }
        60%{
            opacity: 0;
            top: 100%;
            left: 0%;
        }
    }
    @keyframes text-6-6{
        0%{
            opacity: 0;
        }
        30%{
            opacity: 0;
            transform: rotate(0deg);
            top: -50%;
        }
        50%{
            opacity: 1;
            top: 54%;
            transform: rotate(0deg);
        }
        60%{
            opacity: 1;
            top: 54%;
            transform: rotateY(180deg);
        }
        80%{
            opacity: 1;
            top: 54%;
        }
        100%{
            opacity: 0;
            top: 0%;
            transform: rotateY(180deg);
        }
    }
    @keyframes text-10-3{
        0%{
            opacity: 0;
            width: 100% !important;
        }
        30%{
            opacity: 0;
            width: 100% !important;
        }
        45%{
            opacity: 1;
            width: 24% !important;
        }
        47%{
            opacity: 1;
        }
        49%{
            opacity: 0;
        }
        51%{
            opacity: 1;
        }
        53%{
            opacity: 0;
        }
        55%{
            opacity: 1;
        }
        57%{
            opacity: 0;
        }
        59%{
            opacity: 1;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes text-10{
        0%{
            opacity: 0;
            height: 0%;
        }
        15%{
            opacity: 1;
            height: 100%;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes text-10-2{
        0%{
            opacity: 0;
            height: 200%;
        }
        15%{
            opacity: 0;
            height: 200%;
        }
        30%{
            opacity: 1;
            height: 100%;
        }
        100%{
            opacity: 1;
        }
    }
}